#Docker

DB_NAME=db
DB_USER=db
DB_PASSWORD=db
DB_HOST=db

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional database variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

# development/staging/production
WP_ENV=""

# Environment urls
ENV_DEVELOPMENT="http://localhost:${BACKEND_PORT}"
ENV_STAGING=http://staging.com
ENV_PRODUCTION=http://stash.com

# Specify optional debug.log path
# WP_DEBUG_LOG='/path/to/debug.log'

# Generate your keys here: https://roots.io/salts.html
